<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Complaint Management System</title>
  
</head>

<body>
  <header>
    
    <div class="hero">
      <h1>Complaint Management System</h1>
      <p>A platform to manage complaints effectively</p>
    </div>
  </header>

  <main>
    <section class="admin">
      <div class="container">
        <h2>Admin</h2>
        <p>View Complaint,Delete Complaint and more</p>
        <a routerLink="admin" class="btn btn-primary">Login as Admin</a>
      </div>
    </section>

    <section class="user">
      <div class="container">
        <h2>User</h2>
        <p>File a complaint</p>
        <a routerLink="useroptions" class="btn btn-primary">User Options</a>
      </div>
    </section>
  </main>
  

  <footer>
    <div class="container">
      <p>&copy; 2023 Complaint Management System</p>
    </div>
  </footer>
</body>

</html>
